.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .site-menu {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .site-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: flex-end;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}
.site-menu__item {
  display: flex;
}
@media (max-width: 767px) {
  .site-menu__item {
    padding: 23px 0;
    border-bottom: 1px solid #E6E6E6;
  }
}
@media (max-width: 767px) {
  .site-menu__item:first-child {
    border-top: 1px solid #E6E6E6;
  }
}
@media (min-width: 768px) {
  .site-menu__item:nth-child(3) a {
    padding: 17px 0 10.7px 17px;
  }
}
@media (min-width: 768px) {
  .site-menu__item--active {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    text-decoration-color: #68b738;
    z-index: 5;
  }
}
@media (min-width: 1300px) {
  .site-menu__item--active {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    text-decoration-color: #ffffff;
    z-index: 5;
  }
}
.site-menu__link {
  color: #000000;
  text-decoration: none;
}
@media (max-width: 767px) {
  .site-menu__link {
    padding: 13px 35px;
  }
}
@media (min-width: 768px) {
  .site-menu__link {
    padding: 17px 17px 10.7px 17px;
  }
}

.button {
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .button {
    display: block;
    padding: 8px 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .button {
    display: inline-block;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}
.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.switcher__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.field-group {
  padding: 20px 0;
  margin: 0;
  border: none;
}
.field-group__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
.field-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.field {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.control {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.card__link {
  text-decoration: none;
}
.card__heading {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.card__title, .card__definition {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.card-row__heading {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
.card-row__definition {
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}

.developer {
  color: #444444;
  font-size: 16px;
  text-decoration: none;
}

.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}

@media (max-width: 767px) {
  .logo {
    display: grid;
    grid-template-columns: 34px 1fr;
    align-items: center;
    gap: 16px;
  }
}
@media (min-width: 768px) {
  .logo__image {
    display: none;
  }
}
.logo__sign {
  justify-self: center;
}
@media (min-width: 768px) {
  .logo__sign {
    display: none;
  }
}
.logo__united {
  display: none;
}
@media (min-width: 768px) {
  .logo__united {
    display: block;
  }
}
@media (min-width: 1300px) {
  .logo__united {
    display: none;
  }
}
.logo__full {
  display: none;
}
@media (min-width: 1300px) {
  .logo__full {
    display: block;
  }
}

.promo {
  color: #ffffff;
}
@media (max-width: 767px) {
  .promo {
    background-image: url("../img/Index/promo-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .promo {
    background: none;
  }
}
.promo__container {
  position: relative;
}
@media (max-width: 767px) {
  .promo__container {
    padding: 27px 0 0 0;
    margin-bottom: 172px;
  }
}
@media (min-width: 768px) {
  .promo__container {
    padding: 64px 0 526px 87px;
  }
}
@media (min-width: 1300px) {
  .promo__container {
    padding: 111px 0 185px 80px;
  }
}
.promo__heading {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (max-width: 767px) {
  .promo__heading {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .promo__heading {
    max-width: 416px;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}
.promo__text {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .promo__text {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .promo__text {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .promo__image {
    position: absolute;
    top: 167px;
  }
}
@media (min-width: 768px) {
  .promo__image {
    display: none;
  }
}
.promo__image--medium {
  display: none;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .promo__image--medium {
    position: absolute;
    z-index: -1;
    top: 265px;
    left: 0;
    display: block;
  }
}
.promo__image--large {
  display: none;
}
@media (min-width: 1300px) {
  .promo__image--large {
    display: block;
    position: absolute;
    z-index: -1;
    top: 29px;
    right: 220px;
  }
}
@media (max-width: 767px) {
  .promo__button {
    position: relative;
    top: 172px;
  }
}

@media (max-width: 767px) {
  .catalog-sections {
    padding: 20px 0 0 0;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
.catalog-sections__item {
  background-color: #f2f2f2;
}
@media (max-width: 767px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .catalog-sections__item {
    padding: 21px 20px 18px 20px;
  }
}
.catalog-sections__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__heading {
    font-size: 36px;
    line-height: 36px;
  }
}
.catalog-sections__text {
  color: #444444;
}
@media (min-width: 768px) {
  .catalog-sections__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .catalog-sections__text::after {
    content: "";
    display: block;
    position: static;
    width: 100%;
    height: 1px;
    margin-top: 23px;
    margin-bottom: 15px;
    background-color: #D9D9D9;
  }
}
.catalog-sections__link {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .process {
    padding: 20px 0 49px 0;
  }
}
@media (min-width: 768px) {
  .process {
    padding: 45px 0 47px 0;
  }
}
@media (min-width: 1300px) {
  .process {
    padding: 71px 0 26px 0;
  }
}
@media (max-width: 767px) {
  .process__heading {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 768px) {
  .process__heading {
    margin: 0 0 32px 0;
  }
}
.process__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
}
@media (max-width: 767px) {
  .process__list {
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .process__list {
    grid-template-columns: 1fr 1fr;
    gap: 37px 0;
    padding: 0 79px 0 0;
  }
}
@media (min-width: 1300px) {
  .process__list {
    grid-template-columns: repeat(4, min-content);
    padding: 0;
  }
}
.process__item {
  position: relative;
  display: grid;
  color: #444444;
}
@media (max-width: 767px) {
  .process__item {
    grid-template-columns: 60px 1fr;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .process__item {
    padding: 40px 0 57px 0;
    gap: 31px;
    grid-template-rows: min-content min-content;
    font-size: 16px;
    line-height: 24px;
  }
}
.process__item::before {
  content: "";
  display: block;
  position: static;
  width: 60px;
  height: 60px;
}
@media (min-width: 768px) {
  .process__item::before {
    width: 80px;
    height: 80px;
  }
}
.process__item::after {
  content: "";
  display: block;
  position: absolute;
}
@media (min-width: 768px) {
  .process__item::after {
    z-index: -1;
    right: 0;
    height: 280px;
    color: #f2f2f2;
    font-size: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 280px;
  }
}
@media (min-width: 768px) {
  .process__item--healthful {
    width: 238px;
  }
}
@media (min-width: 1300px) {
  .process__item--healthful {
    margin-right: 88px;
  }
}
.process__item--healthful::before {
  background: url("../img/Index/leaf.svg") no-repeat center;
}
@media (min-width: 768px) {
  .process__item--healthful::before {
    background: url("../img/Index/leaf-large.svg") no-repeat center;
  }
}
@media (min-width: 768px) {
  .process__item--healthful::after {
    content: "1";
    width: 112px;
  }
}
@media (min-width: 768px) {
  .process__item--powder {
    width: 246px;
    margin-left: auto;
  }
}
@media (min-width: 1300px) {
  .process__item--powder {
    margin-right: 77px;
  }
}
.process__item--powder::before {
  background: url("../img/Index/powder.svg") no-repeat center;
}
@media (min-width: 768px) {
  .process__item--powder::before {
    background: url("../img/Index/powder-large.svg") no-repeat center;
  }
}
@media (min-width: 768px) {
  .process__item--powder::after {
    content: "2";
    width: 134px;
  }
}
@media (min-width: 768px) {
  .process__item--meal {
    width: 247px;
  }
}
@media (min-width: 1300px) {
  .process__item--meal {
    margin-right: 75px;
  }
}
.process__item--meal::before {
  background: url("../img/Index/meal.svg") no-repeat center;
}
@media (min-width: 768px) {
  .process__item--meal::before {
    background: url("../img/Index/meal-large.svg") no-repeat center;
  }
}
@media (min-width: 768px) {
  .process__item--meal::after {
    content: "3";
    width: 134px;
  }
}
@media (min-width: 768px) {
  .process__item--result {
    width: 249px;
    margin-left: auto;
  }
}
.process__item--result::before {
  background: url("../img/Index/result.svg") no-repeat center;
}
@media (min-width: 768px) {
  .process__item--result::before {
    background: url("../img/Index/result-large.svg") no-repeat center;
  }
}
@media (min-width: 768px) {
  .process__item--result::after {
    content: "4";
    width: 136px;
  }
}

@media (max-width: 767px) {
  .example {
    padding: 25px 0 40px 0;
    background-color: #eaeaea;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example {
    padding: 43px 0 56px 0;
    background: linear-gradient(0deg, #eaeaea 42.7%, transparent 42.7%);
  }
}
@media (min-width: 1300px) {
  .example {
    padding: 0 0 65px 0;
    background: linear-gradient(0deg, #eaeaea 72.1%, transparent 72.1%);
  }
}
@media (min-width: 1300px) {
  .example__container {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .example__left-part {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__left-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 80px 0;
  }
}
@media (min-width: 1300px) {
  .example__left-part {
    max-width: 436px;
  }
}
@media (max-width: 767px) {
  .example__heading {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 768px) {
  .example__heading {
    margin: 0 0 63px 0;
  }
}
@media (min-width: 1300px) {
  .example__heading {
    padding: 43px 0 0 0;
    margin: 0 0 146px 0;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__heading {
    grid-column: 1/3;
  }
}
.example__text {
  color: #444444;
}
@media (max-width: 767px) {
  .example__text {
    margin: 0 0 10px 0;
  }
}
@media (min-width: 768px) {
  .example__text {
    margin: 0 0 44px 0;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .example__text {
    margin: 0 0 59px 0;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__text {
    grid-column: 1/3;
  }
}
.example__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 767px) {
  .example__list {
    margin: 0 0 20px 0;
    gap: 0 32px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__list {
    grid-column: 1/2;
  }
}
@media (min-width: 768px) {
  .example__list {
    max-width: 366px;
    gap: 0 42px;
  }
}
@media (min-width: 1300px) {
  .example__list {
    margin: 0 0 55px 0;
  }
}
.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.example__title {
  z-index: 1;
  color: #444444;
  text-align: center;
}
@media (max-width: 767px) {
  .example__title {
    max-width: 81px;
    font-size: 12px;
    line-height: 100%;
    background-color: #eaeaea;
  }
}
@media (min-width: 768px) {
  .example__title {
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1300px) {
  .example__title {
    background-color: #eaeaea;
  }
}
.example__definition {
  position: relative;
  top: 10px;
  order: -2;
  margin: 0;
  padding: 14.5px 0 17.5px 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .example__definition {
    width: 124px;
    font-size: 24px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .example__definition {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
  }
}
.example__spending {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__spending {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__spending {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 21px 0 0 0;
  }
}
@media (min-width: 1300px) {
  .example__spending {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .example__spending-text {
    margin: 0 0 9px 0;
  }
}
@media (min-width: 1300px) {
  .example__spending-text {
    margin-right: 63px;
  }
}
.example__imgages {
  position: relative;
}
@media (max-width: 767px) {
  .example__imgages {
    margin: 0 0 15px 0;
  }
}
@media (min-width: 768px) {
  .example__image {
    display: none;
  }
}
.example__image--large {
  display: none;
}
@media (min-width: 768px) {
  .example__image--large {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .example__image--skinny {
    position: absolute;
    top: 0;
  }
}

.contacts__heading {
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.contacts__address {
  color: #444444;
  line-height: 20px;
}

.page-footer {
  padding: 20px;
  background-color: #f2f2f2;
}

.form {
  padding: 20px;
}

.catalog-list {
  padding: 20px;
}

.show-more__heading {
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.show-more__text {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.catalog-additional {
  padding: 20px;
}
.catalog-additional__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.offer {
  background: #68b738 url("../img/catalog/background-gift.jpg") no-repeat center;
  background-blend-mode: overlay;
}
.offer__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.page-main {
  position: relative;
}
.page-main__header {
  margin-bottom: 82px;
}
.page-main__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .page-main__heading {
    font-size: 60px;
    line-height: 60px;
  }
}
.page-main__subheading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-main__subheading {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .page-main__header-heading {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .page-main__header-heading {
    margin-bottom: 41px;
  }
}
@media (min-width: 1300px) {
  .page-main__header-heading {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .page-main__header-text {
    margin-bottom: 164px;
  }
}
@media (min-width: 768px) {
  .page-main__header-text {
    margin-bottom: 49px;
  }
}
@media (min-width: 1300px) {
  .page-main__header-text {
    margin-bottom: 52px;
  }
}

@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
  }
}
@media (min-width: 1300px) {
  .page-header__nav {
    width: 1220px;
    grid-template-columns: 202px 1fr;
  }
}
@media (max-width: 767px) {
  .page-header__bar {
    min-width: 320px;
    margin: 0 auto;
    padding: 10px 20px 17.4px;
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    align-items: center;
    gap: 16px;
  }
}
.page-header__logo {
  grid-column: 1/3;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.page {
  min-width: 320px;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
@media (min-width: 768px) {
  .page__header {
    padding: 24px 0 0 0;
  }
}
@media (min-width: 1300px) {
  .page__header {
    padding: 53px 0 0 0;
  }
}/*# sourceMappingURL=style.css.map */