.catalog-list {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $color-gray-100;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 75px;
  }

  &__container {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 324px);
      gap: 60px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 245px);
      gap: 62px 80px;
    }
  }
}
