.catalog-list {
  &__container {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 324px);
      gap: 60px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 245px);
      gap: 62px 80px;
    }
  }

  &__show-more-plus {
    @media (max-width: $mobile-width-only) {
      margin: 0 0 23px 0;
    }
  }

  &__show-more-heading {
    @media (max-width: $mobile-width-only) {
      margin: 0 0 8px 0;
    }
  }

  &__show-more-text {
    @media (max-width: $mobile-width-only) {
      margin: 0 0 21px 0;
    }
  }
}
