.example {
  @media (max-width: $mobile-width-only) {
    padding: 25px 0 40px 0;

    background-color: $color-gray-100;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 43px 0 58px 0;

    border-top: 1px solid $color-gray-150;
    background: linear-gradient(0deg, $color-gray-100 42.7%, transparent 42.7%);
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 70px 0;

    background: linear-gradient(0deg, $color-gray-100 72.1%, transparent 72.1%);
  }

  &__container {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 591px;
      gap: 80px;
    }
  }

  &__left-part {
    @media (max-width: $mobile-width-only) {
      margin: 0 0 40px 0;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      margin: 0 0 80px 0;
    }

    @media (min-width: $desktop-width) {
      max-width: 436px;
    }
  }

  &__heading {
    @media (max-width: $mobile-width-only) {
      margin: 0 0 40px 0;
    }

    @media (min-width: $tablet-width) {
      margin: 0 0 63px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 43px 0 0 0;
      margin: 0 0 146px 0;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      grid-column: 1/3;
    }
  }

  &__text {
    color: $color-gray-700;

    @media (max-width: $mobile-width-only) {
      margin: 0 0 10px 0;
    }

    @media (min-width: $tablet-width) {
      margin: 0 0 44px 0;

      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 59px 0;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      grid-column: 1/3;
    }
  }

  &__list {
    @include null;

    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: $mobile-width-only) {
      margin: 0 0 20px 0;
      gap: 0 32px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      grid-column: 1/2;
    }

    @media (min-width: $tablet-width) {
      max-width: 366px;
      gap: 0 42px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 55px 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    z-index: 1;

    color: $color-gray-700;
    text-align: center;

    @media (max-width: $mobile-width-only) {
      max-width: 81px;

      font-size: 12px;
      line-height: 100%;
      background-color: $color-gray-100;
    }

    @media (min-width: $tablet-width) {
      padding: 0 10px;

      font-size: 14px;
      line-height: 14px;
      background-color: $color-white;
    }

    @media (min-width: $desktop-width) {
      background-color: $color-gray-100;
    }
  }

  &__definition {
    position: relative;
    top: 10px;
    order: -2;

    margin: 0;
    padding: 12.5px 0 16.5px 0;

    border: 1px solid $color-gray-250;
    border-radius: 3px;

    font-family: $font-heading;
    text-align: center;

    @media (max-width: $mobile-width-only) {
      width: 124px;

      font-size: 24px;
      line-height: 24px;
    }

    @media (min-width: $tablet-width) {
      padding: 14.5px 0 19.5px 0;
      width: 162px;

      font-size: 30px;
      line-height: 37px;
    }
  }

  &__spending {
    margin: 0;

    font-family: $font-heading;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 21px 0 0 0;
      margin-right: 2px;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }

  &__spending-text {
    margin: 0 0 9px 0;

    @media (min-width: $desktop-width) {
      margin: 0 63px 0 0;
    }
  }

  &__imgages {
    position: relative;

    @media (max-width: $mobile-width-only) {
      margin: 0 0 13px 0;
    }

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 50% 1fr;
      padding: 0 58px;
      margin: 0 0 25px 0;
      overflow: hidden;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &__image {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      overflow: hidden;

      img {
        width: 592px;
        height: 511px;
        max-width: none;
      }
    }

    &--after {
      @media (min-width: $tablet-width) {
        justify-content: end;
      }
    }

    &--active {
      display: block;
    }
  }
}
