.page-main {
  position: relative;

  &__header {
    margin-bottom: 82px;
  }

  &__footer {
    @media (max-width: $mobile-width-only) {
      position: relative;
      top: 4px;
    }
  }

  &__heading-wrapper {
    @media (max-width: $mobile-width-only) {
      padding: 27px 0 41px 0;
    }

    @media (min-width: $tablet-width) {
      padding: 64.3px 0 82px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 74px 0 84px 0;
    }
  }

  &__heading {
    margin: 0;

    font-family: $font-heading;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__subheading {
    font-family: $font-heading;
    font-weight: 400;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__header-heading {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 25px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 41px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 40px;
    }
  }

  &__header-text {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 164px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 49px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 52px;
    }
  }
}
