.page-main {
  position: relative;

  &__header {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 82px;
    }

    .page-main--catalog & {
      @media (max-width: $mobile-width-only) {
        margin-bottom: 41px;
      }

      @media (min-width: $tablet-width) {
        padding-top: 64.3px;
        margin-bottom: 82px;
      }

      @media (min-width: $desktop-width) {
        padding-top: 74px;
        margin-bottom: 84px;
      }
    }

    .page-main--form & {
      @media (max-width: $mobile-width-only) {
        margin-bottom: 39px;
      }

      @media (min-width: $tablet-width) {
        margin-bottom: 66px;
      }

      @media (min-width: $desktop-width) {
        padding-top: 73.5px;
      }
    }
  }

  &__heading {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
    }

    .page-main--form & {
      @media (max-width: $mobile-width-only) {
        margin-bottom: 37px;
      }

      @media (min-width: $tablet-width) {
        margin-bottom: 54px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 56px;
      }
    }
  }

  &__subheading {
    margin: 0;

    font-family: $font-heading;
    font-weight: 400;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
