.page-footer {
  background-color: $color-gray-50;

  &__container {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 164px 1fr 164px;
      gap: 16px;
      padding-top: 43px;
      padding-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      padding: 44px 0 43px 0;
    }

    .page-footer--catalog & {
      @media (min-width: $tablet-width) and (max-width: $tablet-width) {
        padding-top: 40px;
      }
    }
  }
}
