.process {
  @media (max-width: $mobile-width-only) {
    padding: 20px 0 49px 0;
  }

  @media (min-width: $tablet-width) {
    padding: 45px 0 47px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 0 26px 0;
  }

  &__heading {
    @media (max-width: $mobile-width-only) {
      margin: 0 0 40px 0;
    }

    @media (min-width: $tablet-width) {
      margin: 0 0 32px 0;
    }
  }

  &__list {
    @include list;

    display: grid;

    @media (max-width: $mobile-width-only) {
      row-gap: 20px;
    }

    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
      gap: 37px 0;
      padding: 0 79px 0 0;

      counter-reset: process;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, min-content);
      padding: 0;
    }
  }

  &__item {
    position: relative;

    display: grid;

    color: $color-gray-700;

    @media (max-width: $mobile-width-only) {
      grid-template-columns: 60px 1fr;
      column-gap: 20px;
    }

    @media (min-width: $tablet-width) {
      padding: 40px 0 57px 0;
      gap: 31px;
      grid-template-rows: min-content min-content;

      font-size: 16px;
      line-height: 24px;

      counter-increment: process;
    }

    &::before {
      @include pseudo($pos: static);
      width: 60px;
      height: 60px;

      background-color: $color-primary-500;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $tablet-width) {
        width: 80px;
        height: 80px;
      }
    }

    &::after {
      @media (min-width: $tablet-width) {
        position: absolute;
        content: counter(process);
        z-index: -1;
        top: 0;
        right: 0;

        color: $color-gray-50;

        font-size: 280px;
        font-family: $font-heading;
        line-height: 280px;
      }
    }

    &--healthful {
      @media (min-width: $tablet-width) {
        width: 238px;
      }

      @media (min-width: $desktop-width) {
        margin-right: 88px;
      }

      &::before {
        background-image: url("../img/index/icons/leaf.svg");
      }
    }

    &--powder {
      @media (min-width: $tablet-width) {
        width: 246px;
        margin-left: auto;
      }

      @media (min-width: $desktop-width) {
        margin-right: 77px;
      }

      &::before {
        background-image: url("../img/index/icons/powder.svg");
      }
    }

    &--meal {
      @media (min-width: $tablet-width) {
        width: 247px;
      }

      @media (min-width: $desktop-width) {
        margin-right: 75px;
      }

      &::before {
        background-image: url("../img/index/icons/meal.svg");
      }
    }

    &--result {
      @media (min-width: $tablet-width) {
        width: 245px;
        margin-left: auto;
      }

      &::before {
        background-image: url("../img/index/icons/result.svg");
      }
    }
  }
}
