.promo {
  text-align: center;

  @media (max-width: $mobile-width-only) {
    padding-top: 27px;

    color: $color-white;
    background-color: $color-primary-800;
    background-image: url("../img/Index/promo-background.jpg"), linear-gradient($color-primary-800 0, $color-primary-800 302px, $color-white 302px);
    background-repeat: no-repeat;
    background-position: 50% 0;

    @supports (background-image: url("../img/Index/promo-background.webp")) {
      background-image: url("../img/Index/promo-background.webp"), linear-gradient($color-primary-800 0, $color-primary-800 302px, $color-white 302px);
    }

    @media (min-resolution: 2dppx) {
      background-size: auto 302px, auto;
      background-image: url("../img/Index/promo-background@2x.jpg"), linear-gradient($color-primary-800 0, $color-primary-800 302px, $color-white 302px);

      @supports (background-image: url("../img/Index/promo-background@2x.webp")) {
        background-image: url("../img/Index/promo-background@2x.webp"), linear-gradient($color-primary-800 0, $color-primary-800 302px, $color-white 302px);
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 64.3px;

    text-align: left;
  }


  @media (min-width: $desktop-width) {
    position: relative;

    padding-top: 0;

    &::after {
      content: "";
      position: absolute;
      top: -200px;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: -2;

      background-position: 0 100%;
      background-repeat: no-repeat;
      background-image: url("../img/Index/promo-background-large.jpg");

      @supports (background-image: url("../img/Index/promo-background-large.webp")) {
        background-image: url("../img/Index/promo-background-large.webp");
      }


      @media (min-resolution: 2dppx) {
        background-size: auto 696px;
        background-image: url("../img/Index/promo-background-large@2x.jpg");

        @supports (background-image: url("../img/Index/promo-background-large@2x.webp")) {
          background-image: url("../img/Index/promo-background-large@2x.webp");
        }
      }
    }
  }

  &__container {
    position: relative;

    @media (min-width: $tablet-width) {
      padding: 0 0 526px 87px;
    }

    @media (min-width: $desktop-width) {
      padding: 111px 0 185px 80px;
    }
  }

  &__heading {
    @include null;
    font-family: $font-heading;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 25px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 41px;
      max-width: 416px;

      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 40px;
    }
  }

  &__text {
    @include null;
    font-family: $font-heading;
    line-height: 14px;
    text-transform: uppercase;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 29px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 49px;

      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 52px;
    }
  }

  &__image {
    width: 280px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;

      width: 708px;
      height: 609px;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      z-index: -1;
      top: 29px;
      right: 220px;

      width: 552px;
      height: 499px;
    }
  }
}

