.show-more {
  &__heading {
    color: $color-gray-900;

    font-family: $font-heading;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    color: $color-gray-700;

    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}
