.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.site-menu__item {
  padding: 23px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #E6E6E6;
}
.site-menu__item:first-child {
  border-top: 1px solid #E6E6E6;
}
.site-menu__link {
  padding: 13px 35px;
  color: #000000;
  text-decoration: none;
}

.button {
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.switcher__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.field-group {
  padding: 20px 0;
  margin: 0;
  border: none;
}
.field-group__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
.field-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.field {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.control {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.promo {
  padding: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  background-image: url("../img/Index/first-background-cat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}
.promo__heading {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
.promo__text {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
}

.catalog-sections__item {
  padding: 20px;
  background-color: #f2f2f2;
}
.catalog-sections__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
.catalog-sections__text {
  color: #444444;
}
.catalog-sections__link {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.process {
  padding: 20px;
}
.process__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.process__item {
  color: #444444;
}

.example {
  padding: 20px;
  background-color: #eaeaea;
}
.example__text {
  color: #444444;
}
.example__list {
  margin: 0;
  padding: 0;
}
.example__title {
  color: #444444;
  font-size: 12px;
  line-height: 100%;
}
.example__definition {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
.example__spending {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.contacts {
  padding: 20px;
}
.contacts__heading {
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.contacts__address {
  color: #444444;
  line-height: 20px;
}

.page-footer {
  padding: 20px;
  background-color: #f2f2f2;
}

.form {
  padding: 20px;
}

.page-main__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
.page-main__subheading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.page-main__header-heading {
  margin-bottom: 25px;
}
.page-main__header-text {
  margin-bottom: 29px;
}

.page-header__container {
  max-width: 280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.page {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.page__body {
  margin: auto;
}
/*# sourceMappingURL=style.css.map */