.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .site-menu {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .site-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: flex-end;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}
.site-menu__item {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .site-menu__item {
    padding: 23px 0;
    border-bottom: 1px solid #E6E6E6;
  }
}
@media (max-width: 767px) {
  .site-menu__item:first-child {
    border-top: 1px solid #E6E6E6;
  }
}
@media (min-width: 768px) {
  .site-menu__item:nth-child(3) a {
    padding: 17px 0 10.7px 17px;
  }
}
@media (min-width: 768px) {
  .site-menu__item--active {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-color: #68b738;
            text-decoration-color: #68b738;
    z-index: 5;
  }
}
@media (min-width: 1300px) {
  .site-menu__item--active--white {
    -webkit-text-decoration-color: #ffffff;
            text-decoration-color: #ffffff;
  }
}
.site-menu__link {
  color: #000000;
  text-decoration: none;
}
@media (max-width: 767px) {
  .site-menu__link {
    padding: 13px 35px;
  }
}
@media (min-width: 768px) {
  .site-menu__link {
    padding: 17px 17px 10.7px 17px;
  }
}

.button {
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .button--promo {
    display: block;
    padding: 11px 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .button--promo {
    display: inline-block;
    padding: 17px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}
.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.switcher__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.field-group {
  padding: 20px 0;
  margin: 0;
  border: none;
}
.field-group__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .field-group__heading {
    font-size: 36px;
    line-height: 36px;
  }
}
.field-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1300px) {
  .field-group__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 78px;
  }
}
@media (min-width: 768px) {
  .field-group__list--additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 80px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--additional {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 80px;
  }
}

.field {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .field {
    font-size: 20px;
    line-height: normal;
  }
}
.field__lead {
  text-transform: uppercase;
}
.field__input {
  color: #444444;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .field__input {
    font-size: 20px;
    line-height: normal;
  }
}
.field__input:placeholder {
  color: #444444;
  text-transform: uppercase;
}

.control {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.control--checkbox {
  color: #000000;
}
@media (min-width: 768px) {
  .control {
    font-size: 20px;
    line-height: normal;
  }
}

.card {
  position: relative;
  display: grid;
}
@media (max-width: 767px) {
  .card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    padding: 19px 0 25px 0;
  }
}
@media (max-width: 767px) {
  .card::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    height: 1px;
    background-color: #eaeaea;
  }
}
.card__link {
  text-decoration: none;
}
.card__heading {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .card__heading {
    align-self: start;
    max-width: 76px;
    margin: 0 0 14px 0;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .card__heading {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
.card__img {
  order: 1;
  align-self: center;
  justify-self: center;
}
@media (max-width: 767px) {
  .card__img {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
.card__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 0 10px;
  color: #444444;
}
@media (max-width: 767px) {
  .card__list {
    padding-bottom: 9px;
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 768px) {
  .card__list {
    font-size: 16px;
  }
}
.card__definition {
  margin: 0;
  text-align: right;
}
@media (max-width: 767px) {
  .card__button {
    grid-column: 1/3;
    margin: 13px 0 0 0;
  }
}

.card-row__heading {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card-row__heading {
    font-size: 20px;
    line-height: 20px;
  }
}
.card-row__definition {
  color: #444444;
  line-height: 14px;
}
@media (min-width: 768px) {
  .card-row__definition {
    font-size: 16px;
    line-height: 20px;
  }
}

.developer {
  display: flex;
  align-items: center;
  color: #444444;
  font-size: 16px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .developer {
    justify-content: space-between;
    padding: 22px 0;
  }
}
@media (min-width: 768px) {
  .developer__text {
    margin-right: 22px;
  }
}

.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}

@media (max-width: 767px) {
  .logo {
    display: grid;
    grid-template-columns: 34px 1fr;
    align-items: center;
    gap: 16px;
  }
}
@media (min-width: 768px) {
  .logo__image {
    display: none;
  }
}
.logo__united {
  display: none;
}
@media (min-width: 768px) {
  .logo__united {
    display: block;
  }
}
@media (min-width: 1300px) {
  .logo__united {
    display: none;
  }
}
.logo__full {
  display: none;
}
@media (min-width: 1300px) {
  .logo__full {
    display: block;
  }
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .social {
    border-bottom: 1px solid #d9d9d9;
  }
}
.social__link {
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 767px) {
  .social__link {
    padding: 0 17.5px;
  }
}
@media (min-width: 768px) {
  .social__link {
    padding: 0 12px;
  }
}
@media (min-width: 768px) {
  .social__icon--small {
    display: none;
  }
}
@media (max-width: 767px) {
  .social__icon--large {
    display: none;
  }
}

.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 25px 0 25px 0;
}
@media (max-width: 767px) {
  .show-more::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    height: 1px;
    background-color: #eaeaea;
  }
}
@media (max-width: 767px) {
  .show-more::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    height: 1px;
    background-color: #eaeaea;
  }
}
.show-more__plus {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
}
.show-more__plus::before, .show-more__plus::after {
  content: "";
  position: absolute;
  background: #d9d9d9;
}
.show-more__plus::before {
  width: 2px;
  height: 100%;
}
.show-more__plus::after {
  width: 100%;
  height: 2px;
}
.show-more__heading {
  margin: 0;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.show-more__text {
  margin: 0;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.promo {
  color: #ffffff;
}
@media (max-width: 767px) {
  .promo {
    background-image: url("../img/Index/promo-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .promo {
    background: none;
  }
}
.promo__container {
  position: relative;
}
@media (max-width: 767px) {
  .promo__container {
    padding: 27px 0 0 0;
    margin-bottom: 172px;
  }
}
@media (min-width: 768px) {
  .promo__container {
    padding: 64px 0 526px 87px;
  }
}
@media (min-width: 1300px) {
  .promo__container {
    padding: 111px 0 185px 80px;
  }
}
.promo__heading {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (max-width: 767px) {
  .promo__heading {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .promo__heading {
    max-width: 416px;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}
.promo__text {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .promo__text {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .promo__text {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .promo__image {
    position: absolute;
    top: 167px;
  }
}
@media (min-width: 768px) {
  .promo__image {
    display: none;
  }
}
.promo__image--medium {
  display: none;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .promo__image--medium {
    position: absolute;
    z-index: -1;
    top: 265px;
    left: 0;
    display: block;
  }
}
.promo__image--large {
  display: none;
}
@media (min-width: 1300px) {
  .promo__image--large {
    display: block;
    position: absolute;
    z-index: -1;
    top: 29px;
    right: 220px;
  }
}
@media (max-width: 767px) {
  .promo__button {
    position: relative;
    top: 172px;
  }
}

@media (max-width: 767px) {
  .catalog-sections {
    padding: 20px 0 0 0;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
.catalog-sections__item {
  background-color: #f2f2f2;
}
@media (max-width: 767px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .catalog-sections__item {
    padding: 21px 20px 18px 20px;
  }
}
.catalog-sections__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__heading {
    font-size: 36px;
    line-height: 36px;
  }
}
.catalog-sections__text {
  color: #444444;
}
@media (min-width: 768px) {
  .catalog-sections__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .catalog-sections__text::after {
    content: "";
    display: block;
    position: static;
    width: 100%;
    height: 1px;
    margin-top: 23px;
    margin-bottom: 15px;
    background-color: #D9D9D9;
  }
}
.catalog-sections__link {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .process {
    padding: 20px 0 49px 0;
  }
}
@media (min-width: 768px) {
  .process {
    padding: 45px 0 47px 0;
  }
}
@media (min-width: 1300px) {
  .process {
    padding: 71px 0 26px 0;
  }
}
@media (max-width: 767px) {
  .process__heading {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 768px) {
  .process__heading {
    margin: 0 0 32px 0;
  }
}
.process__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
}
@media (max-width: 767px) {
  .process__list {
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .process__list {
    grid-template-columns: 1fr 1fr;
    gap: 37px 0;
    padding: 0 79px 0 0;
  }
}
@media (min-width: 1300px) {
  .process__list {
    grid-template-columns: repeat(4, min-content);
    padding: 0;
  }
}
.process__item {
  position: relative;
  display: grid;
  color: #444444;
}
@media (max-width: 767px) {
  .process__item {
    grid-template-columns: 60px 1fr;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .process__item {
    padding: 40px 0 57px 0;
    gap: 31px;
    grid-template-rows: min-content min-content;
    font-size: 16px;
    line-height: 24px;
  }
}
.process__item::before {
  content: "";
  display: block;
  position: static;
  width: 60px;
  height: 60px;
}
@media (min-width: 768px) {
  .process__item::before {
    width: 80px;
    height: 80px;
  }
}
.process__item::after {
  content: "";
  display: block;
  position: absolute;
}
@media (min-width: 768px) {
  .process__item::after {
    z-index: -1;
    right: 0;
    height: 280px;
    color: #f2f2f2;
    font-size: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 280px;
  }
}
@media (min-width: 768px) {
  .process__item--healthful {
    width: 238px;
  }
}
@media (min-width: 1300px) {
  .process__item--healthful {
    margin-right: 88px;
  }
}
.process__item--healthful::before {
  background: url("../img/Index/leaf.svg") no-repeat center;
}
@media (min-width: 768px) {
  .process__item--healthful::before {
    background: url("../img/Index/leaf-large.svg") no-repeat center;
  }
}
@media (min-width: 768px) {
  .process__item--healthful::after {
    content: "1";
    width: 112px;
  }
}
@media (min-width: 768px) {
  .process__item--powder {
    width: 246px;
    margin-left: auto;
  }
}
@media (min-width: 1300px) {
  .process__item--powder {
    margin-right: 77px;
  }
}
.process__item--powder::before {
  background: url("../img/Index/powder.svg") no-repeat center;
}
@media (min-width: 768px) {
  .process__item--powder::before {
    background: url("../img/Index/powder-large.svg") no-repeat center;
  }
}
@media (min-width: 768px) {
  .process__item--powder::after {
    content: "2";
    width: 134px;
  }
}
@media (min-width: 768px) {
  .process__item--meal {
    width: 247px;
  }
}
@media (min-width: 1300px) {
  .process__item--meal {
    margin-right: 75px;
  }
}
.process__item--meal::before {
  background: url("../img/Index/meal.svg") no-repeat center;
}
@media (min-width: 768px) {
  .process__item--meal::before {
    background: url("../img/Index/meal-large.svg") no-repeat center;
  }
}
@media (min-width: 768px) {
  .process__item--meal::after {
    content: "3";
    width: 134px;
  }
}
@media (min-width: 768px) {
  .process__item--result {
    width: 249px;
    margin-left: auto;
  }
}
.process__item--result::before {
  background: url("../img/Index/result.svg") no-repeat center;
}
@media (min-width: 768px) {
  .process__item--result::before {
    background: url("../img/Index/result-large.svg") no-repeat center;
  }
}
@media (min-width: 768px) {
  .process__item--result::after {
    content: "4";
    width: 136px;
  }
}

@media (max-width: 767px) {
  .example {
    padding: 25px 0 40px 0;
    background-color: #eaeaea;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example {
    padding: 43px 0 56px 0;
    background: linear-gradient(0deg, #eaeaea 42.7%, transparent 42.7%);
  }
}
@media (min-width: 1300px) {
  .example {
    padding: 0 0 65px 0;
    background: linear-gradient(0deg, #eaeaea 72.1%, transparent 72.1%);
  }
}
@media (min-width: 1300px) {
  .example__container {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .example__left-part {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__left-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 80px 0;
  }
}
@media (min-width: 1300px) {
  .example__left-part {
    max-width: 436px;
  }
}
@media (max-width: 767px) {
  .example__heading {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 768px) {
  .example__heading {
    margin: 0 0 63px 0;
  }
}
@media (min-width: 1300px) {
  .example__heading {
    padding: 43px 0 0 0;
    margin: 0 0 146px 0;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__heading {
    grid-column: 1/3;
  }
}
.example__text {
  color: #444444;
}
@media (max-width: 767px) {
  .example__text {
    margin: 0 0 10px 0;
  }
}
@media (min-width: 768px) {
  .example__text {
    margin: 0 0 44px 0;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .example__text {
    margin: 0 0 59px 0;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__text {
    grid-column: 1/3;
  }
}
.example__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 767px) {
  .example__list {
    margin: 0 0 20px 0;
    gap: 0 32px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__list {
    grid-column: 1/2;
  }
}
@media (min-width: 768px) {
  .example__list {
    max-width: 366px;
    gap: 0 42px;
  }
}
@media (min-width: 1300px) {
  .example__list {
    margin: 0 0 55px 0;
  }
}
.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.example__title {
  z-index: 1;
  color: #444444;
  text-align: center;
}
@media (max-width: 767px) {
  .example__title {
    max-width: 81px;
    font-size: 12px;
    line-height: 100%;
    background-color: #eaeaea;
  }
}
@media (min-width: 768px) {
  .example__title {
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1300px) {
  .example__title {
    background-color: #eaeaea;
  }
}
.example__definition {
  position: relative;
  top: 10px;
  order: -2;
  margin: 0;
  padding: 14.5px 0 17.5px 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .example__definition {
    width: 124px;
    font-size: 24px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .example__definition {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
  }
}
.example__spending {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__spending {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__spending {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 21px 0 0 0;
  }
}
@media (min-width: 1300px) {
  .example__spending {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .example__spending-text {
    margin: 0 0 9px 0;
  }
}
@media (min-width: 1300px) {
  .example__spending-text {
    margin-right: 63px;
  }
}
.example__imgages {
  position: relative;
}
@media (max-width: 767px) {
  .example__imgages {
    margin: 0 0 15px 0;
  }
}
@media (min-width: 768px) {
  .example__image {
    display: none;
  }
}
.example__image--large {
  display: none;
}
@media (min-width: 768px) {
  .example__image--large {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .example__image--skinny {
    position: absolute;
    top: 0;
  }
}

.contacts--background--grey {
  background-color: #f2f2f2;
}
.contacts__container {
  position: relative;
}
.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 22px 0 26px 0;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 60px 40px 56px 40px;
  }
}
@media (min-width: 1300px) {
  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 1;
    width: 565px;
    padding: 60px 80px 56px 80px;
    background-color: #ffffff;
  }
}
.contacts__heading {
  margin: 0;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__heading {
    max-width: 171px;
    font-size: 20px;
    line-height: 26px;
  }
}
.contacts__address {
  max-width: 160px;
  margin: 0;
  justify-self: flex-end;
  color: #444444;
  line-height: 20px;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .contacts__address {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .contacts__map {
    display: none;
  }
}
.contacts__map--medium {
  display: none;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .contacts__map--medium {
    display: block;
    width: 100vw;
    object-fit: cover;
  }
}
.contacts__map--large {
  display: none;
}
@media (min-width: 1300px) {
  .contacts__map--large {
    display: block;
    width: 100vw;
    object-fit: cover;
  }
}

.page-footer {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer__container {
    display: flex;
    padding: 40px 0 40px 0;
  }
}
.page-footer__logo {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .page-footer__logo {
    padding: 39px 0 32px 0;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .page-footer__logo {
    margin-right: 144px;
    padding: 16px 0;
  }
}
@media (min-width: 1300px) {
  .page-footer__logo {
    margin-right: 401px;
  }
}
@media (max-width: 767px) {
  .page-footer__social {
    min-height: 63px;
  }
}
@media (min-width: 768px) {
  .page-footer__social {
    margin-right: auto;
  }
}
@media (min-width: 1300px) {
  .page-footer__social {
    margin-right: auto;
  }
}

@media (min-width: 1300px) {
  .form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}
@media (min-width: 1300px) {
  .form__group--contacts, .form__group--comment, .form__group--additional {
    grid-column: 1/-1;
  }
}
@media (min-width: 768px) {
  .form__footer {
    display: grid;
    grid-template-columns: 282px 1fr;
    gap: 0 61px;
  }
}
@media (min-width: 1300px) {
  .form__footer {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 568px 1fr;
    gap: 0 81px;
  }
}
@media (min-width: 768px) {
  .form__additional {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .catalog-list__container {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }
}
@media (min-width: 1300px) {
  .catalog-list__container {
    grid-template-columns: repeat(4, 245px);
    gap: 62px 80px;
  }
}
@media (max-width: 767px) {
  .catalog-list__show-more-plus {
    margin: 0 0 23px 0;
  }
}
@media (max-width: 767px) {
  .catalog-list__show-more-heading {
    margin: 0 0 8px 0;
  }
}
@media (max-width: 767px) {
  .catalog-list__show-more-text {
    margin: 0 0 21px 0;
  }
}

@media (min-width: 1300px) {
  .catalog-additional__container {
    display: flex;
    justify-content: space-between;
  }
}
.catalog-additional__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 768px) {
  .catalog-additional__heading {
    font-size: 36px;
    line-height: 36px;
  }
}
.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.offer {
  background: #68b738 url("../img/catalog/background-gift.jpg") no-repeat center;
  background-blend-mode: overlay;
}
.offer__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.page-main {
  position: relative;
}
.page-main__header {
  margin-bottom: 82px;
}
@media (max-width: 767px) {
  .page-main__footer {
    position: relative;
    top: 4px;
  }
}
@media (max-width: 767px) {
  .page-main__heading-wrapper {
    padding: 27px 0 41px 0;
  }
}
@media (min-width: 768px) {
  .page-main__heading-wrapper {
    padding: 64.3px 0 82px 0;
  }
}
@media (min-width: 1300px) {
  .page-main__heading-wrapper {
    padding: 74px 0 84px 0;
  }
}
.page-main__heading {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .page-main__heading {
    font-size: 60px;
    line-height: 60px;
  }
}
.page-main__subheading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-main__subheading {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .page-main__header-heading {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .page-main__header-heading {
    margin-bottom: 41px;
  }
}
@media (min-width: 1300px) {
  .page-main__header-heading {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .page-main__header-text {
    margin-bottom: 164px;
  }
}
@media (min-width: 768px) {
  .page-main__header-text {
    margin-bottom: 49px;
  }
}
@media (min-width: 1300px) {
  .page-main__header-text {
    margin-bottom: 52px;
  }
}

@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
  }
}
@media (min-width: 1300px) {
  .page-header__nav {
    width: 1220px;
    grid-template-columns: 202px 1fr;
  }
}
@media (max-width: 767px) {
  .page-header__bar {
    min-width: 320px;
    margin: 0 auto;
    padding: 10px 20px 17.4px 20px;
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    align-items: center;
    gap: 16px;
  }
}
.page-header__last-line {
  width: 100vw;
  height: 1px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .page-header__last-line {
    display: none;
  }
}
.page-header__last-line--disable {
  display: none;
}
.page-header__logo {
  grid-column: 1/3;
}
.page-header__sign {
  justify-self: center;
}
@media (min-width: 768px) {
  .page-header__sign {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.page {
  min-width: 320px;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
@media (min-width: 768px) {
  .page__header {
    padding: 24px 0 0 0;
  }
}
@media (min-width: 1300px) {
  .page__header {
    padding: 53px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */