.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .site-menu {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .site-menu {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .site-menu {
    font-size: 20px;
    line-height: normal;
  }
}
@media (max-width: 767px) {
  .site-menu__item {
    border-bottom: 1px solid #E6E6E6;
  }
}
@media (max-width: 767px) {
  .site-menu__item:first-child {
    border-top: 1px solid #E6E6E6;
  }
}
@media (min-width: 768px) {
  .site-menu__item--active {
    text-decoration: underline;
    text-underline-offset: 14px;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-color: #68b738;
            text-decoration-color: #68b738;
    z-index: 5;
  }
}
@media (min-width: 1300px) {
  .site-menu__item--active {
    text-underline-offset: 11px;
  }
}
@media (min-width: 1300px) {
  .site-menu--main .site-menu__item--active {
    -webkit-text-decoration-color: #ffffff;
            text-decoration-color: #ffffff;
  }
}
.site-menu__link {
  display: block;
  color: #000000;
  text-decoration: none;
}
.site-menu__link:hover {
  opacity: 0.6;
}
.site-menu__item--active .site-menu__link:hover {
  opacity: 1;
}
.site-menu__link:active {
  opacity: 0.3;
}
.site-menu__item--active .site-menu__link:active {
  opacity: 1;
}
@media (max-width: 767px) {
  .site-menu__link {
    padding: 23px 22px 22px;
  }
}
@media (min-width: 768px) {
  .site-menu__link {
    padding: 17px 18px 10.7px 18px;
  }
}
@media (min-width: 1300px) {
  .site-menu__link {
    padding: 17px 18px 12px 17px;
    color: #ffffff;
  }
}

.button {
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .button--promo {
    display: block;
    padding: 11px 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .button--promo {
    display: inline-block;
    padding: 17px 30px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .button--promo {
    padding: 17px 27px;
  }
}
.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.switcher {
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  align-items: center;
  gap: 13px;
  padding: 4px 35px;
}
@media (min-width: 768px) {
  .switcher {
    grid-template-columns: 70px 1fr 70px;
    padding: 0 58px;
  }
}
@media (min-width: 1300px) {
  .switcher {
    padding: 0;
  }
}
.switcher__button {
  display: block;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .switcher__button {
    justify-self: center;
    font-size: 20px;
    line-height: normal;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }
  .switcher__button:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .switcher__button:active {
    border-bottom-color: transparent;
  }
}
.switcher__toggler {
  display: flex;
  justify-content: center;
  padding: 3px 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
.switcher__toggler::after {
  content: "";
  width: 36px;
  height: 6px;
  background-color: #68b738;
  border-radius: 6px;
}
.switcher--after .switcher__toggler {
  justify-content: flex-end;
}
.switcher--before .switcher__toggler {
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .switcher__toggler {
    display: none;
  }
}
.switcher__bar {
  -webkit-appearance: none;
          appearance: none;
  background-color: transparent;
}
@media (max-width: 767px) {
  .switcher__bar {
    display: none;
  }
}
.switcher__bar::-moz-range-thumb {
  height: 30px;
  width: 30px;
  padding: 0;
  box-sizing: border-box;
  border: 11px solid #ffffff;
  border-radius: 50%;
  background-color: #68b738;
  box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.switcher__bar::-moz-range-thumb:hover {
  box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
}
.switcher__bar::-moz-range-thumb:active {
  box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
}
.switcher__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 30px;
  width: 30px;
  padding: 0;
  margin-top: -12px;
  box-sizing: border-box;
  border: 11px solid #ffffff;
  border-radius: 50%;
  background-color: #68b738;
  box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.switcher__bar::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
}
.switcher__bar::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
}
.switcher__bar::-webkit-slider-runnable-track, .switcher__bar::-moz-range-track {
  height: 6px;
  background-color: #dcdcdc;
  border-radius: 6px;
}
.switcher__bar::-webkit-slider-runnable-track {
  height: 6px;
  background-color: #dcdcdc;
  border-radius: 6px;
}

.field-group {
  padding: 20px 0;
  margin: 0;
  border: none;
}
.field-group__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .field-group__heading {
    font-size: 36px;
    line-height: 36px;
  }
}
.field-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1300px) {
  .field-group__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 78px;
  }
}
@media (min-width: 768px) {
  .field-group__list--additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 80px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--additional {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 80px;
  }
}

.field {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .field {
    font-size: 20px;
    line-height: normal;
  }
}
.field__lead {
  text-transform: uppercase;
}
.field__input {
  color: #444444;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .field__input {
    font-size: 20px;
    line-height: normal;
  }
}
.field__input:placeholder {
  color: #444444;
  text-transform: uppercase;
}

.control {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.control--checkbox {
  color: #000000;
}
@media (min-width: 768px) {
  .control {
    font-size: 20px;
    line-height: normal;
  }
}

.card {
  position: relative;
  display: grid;
}
@media (max-width: 767px) {
  .card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    padding: 19px 0 25px 0;
  }
}
@media (max-width: 767px) {
  .card::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    height: 1px;
    background-color: #eaeaea;
  }
}
.card__link {
  text-decoration: none;
}
.card__heading {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .card__heading {
    align-self: start;
    max-width: 76px;
    margin: 0 0 14px 0;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .card__heading {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
.card__img {
  order: 1;
  align-self: center;
  justify-self: center;
}
@media (max-width: 767px) {
  .card__img {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
.card__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 0 10px;
  color: #444444;
}
@media (max-width: 767px) {
  .card__list {
    padding-bottom: 9px;
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 768px) {
  .card__list {
    font-size: 16px;
  }
}
.card__definition {
  margin: 0;
  text-align: right;
}
@media (max-width: 767px) {
  .card__button {
    grid-column: 1/3;
    margin: 13px 0 0 0;
  }
}

.card-row__heading {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card-row__heading {
    font-size: 20px;
    line-height: 20px;
  }
}
.card-row__definition {
  color: #444444;
  line-height: 14px;
}
@media (min-width: 768px) {
  .card-row__definition {
    font-size: 16px;
    line-height: 20px;
  }
}

.developer {
  display: flex;
  align-items: center;
  color: #444444;
  font-size: 16px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .developer {
    justify-content: space-between;
    padding: 22px 0;
  }
}
@media (min-width: 768px) {
  .developer__text {
    margin-right: 22px;
  }
}
.developer:hover path {
  fill: #68b738;
}
.developer:active {
  opacity: 0.3;
}
.developer:active path {
  fill: #68b738;
}

.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}

@media (max-width: 767px) {
  .logo:not(.logo--footer) {
    display: grid;
    grid-template-columns: 34px 1fr;
    align-items: center;
    gap: 16px;
  }
}
.logo--footer {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .logo--footer {
    padding: 39px 0 32px 0;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .logo--footer {
    padding: 16px 0;
  }
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .logo__image {
    display: none;
  }
}
.logo__united {
  display: none;
}
@media (min-width: 768px) {
  .logo__united {
    display: block;
  }
}
@media (min-width: 1300px) {
  .logo__united {
    display: none;
  }
}
.logo__full {
  display: none;
}
@media (min-width: 1300px) {
  .logo__full {
    display: block;
  }
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 0;
}
@media (max-width: 767px) {
  .social {
    border-bottom: 1px solid #d9d9d9;
  }
}
.social__link {
  display: flex;
  align-items: center;
  min-height: 38px;
}
@media (max-width: 767px) {
  .social__link {
    padding: 0 17.5px;
  }
}
@media (min-width: 768px) {
  .social__link {
    padding: 0 12px;
  }
}
.social__link:hover path:not(.social__path--facebook) {
  fill: #68b738;
}
.social__link:active {
  opacity: 0.3;
}
.social__link:active path:not(.social__path--facebook) {
  fill: #68b738;
}
.social__link--facebook:hover path {
  stroke: #68b738;
}
.social__link--facebook:active path {
  stroke: #68b738;
}
@media (min-width: 768px) {
  .social__icon--vk {
    width: 30px;
    height: 22px;
  }
}
@media (min-width: 768px) {
  .social__icon--instagram {
    width: 23px;
    height: 23px;
  }
}
@media (min-width: 768px) {
  .social__icon--facebook {
    width: 28px;
    height: 33px;
  }
}

.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 25px 0 25px 0;
}
@media (max-width: 767px) {
  .show-more::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    height: 1px;
    background-color: #eaeaea;
  }
}
@media (max-width: 767px) {
  .show-more::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    height: 1px;
    background-color: #eaeaea;
  }
}
.show-more__plus {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
}
.show-more__plus::before, .show-more__plus::after {
  content: "";
  position: absolute;
  background: #d9d9d9;
}
.show-more__plus::before {
  width: 2px;
  height: 100%;
}
.show-more__plus::after {
  width: 100%;
  height: 2px;
}
.show-more__heading {
  margin: 0;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.show-more__text {
  margin: 0;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.promo {
  text-align: center;
}
@media (max-width: 767px) {
  .promo {
    padding-top: 27px;
    color: #ffffff;
    background-color: #63a63b;
    background-image: url("../img/Index/promo-background.jpg"), linear-gradient(#63a63b 0, #63a63b 302px, #ffffff 302px);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}
@media (min-width: 768px) {
  .promo {
    padding-top: 64.3px;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .promo {
    position: relative;
    padding-top: 0;
  }
  .promo::after {
    content: "";
    position: absolute;
    top: -200px;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: -2;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url("../img/Index/promo-background-large.jpg");
  }
}
.promo__container {
  position: relative;
}
@media (min-width: 768px) {
  .promo__container {
    padding: 0 0 526px 87px;
  }
}
@media (min-width: 1300px) {
  .promo__container {
    padding: 111px 0 185px 80px;
  }
}
.promo__heading {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (max-width: 767px) {
  .promo__heading {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .promo__heading {
    margin-bottom: 41px;
    max-width: 416px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1300px) {
  .promo__heading {
    margin-bottom: 40px;
  }
}
.promo__text {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .promo__text {
    margin-bottom: 29px;
  }
}
@media (min-width: 768px) {
  .promo__text {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .promo__text {
    margin-bottom: 52px;
  }
}
@media (min-width: 768px) {
  .promo__image {
    display: none;
  }
}
.promo__image--medium {
  display: none;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .promo__image--medium {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    display: block;
  }
}
.promo__image--large {
  display: none;
}
@media (min-width: 1300px) {
  .promo__image--large {
    display: block;
    position: absolute;
    z-index: -1;
    top: 29px;
    right: 220px;
  }
}

@media (min-width: 1300px) {
  .catalog-sections__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
.catalog-sections__item {
  position: relative;
  background-color: #f2f2f2;
}
@media (max-width: 767px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 30px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .catalog-sections__item {
    display: grid;
    grid-template-rows: 96px;
    padding: 0 20px 22px 20px;
  }
}
@media (min-width: 768px) {
  .catalog-sections__item {
    padding: 77px 316px 57px 52px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__item {
    display: grid;
    grid-template-rows: 186px;
    padding: 0 52px 59px;
  }
}
.catalog-sections__heading {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .catalog-sections__heading {
    display: flex;
    align-items: center;
    padding-left: 71px;
  }
}
@media (min-width: 768px) {
  .catalog-sections__heading {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading {
    padding-top: 77px;
    padding-left: 162px;
    margin-bottom: 0;
  }
}
.catalog-sections__heading::before, .catalog-sections__heading::after {
  content: "";
  display: block;
  position: absolute;
}
.catalog-sections__heading::before {
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .catalog-sections__heading::before {
    top: 92px;
    left: auto;
    right: 62px;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading::before {
    top: 47px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 100px;
  }
}
.catalog-sections__heading::after {
  background-size: contain;
}
.catalog-sections__heading--slim::after {
  left: 29px;
  width: 36px;
  height: 50px;
  background-image: url("../img/Index/icons/cat-slim.svg");
}
@media (min-width: 768px) {
  .catalog-sections__heading--slim::after {
    top: 81px;
    left: auto;
    right: 92px;
    width: 140px;
    height: 194px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading--slim::after {
    top: 41px;
    left: 67px;
    right: auto;
    width: 70px;
    height: 97px;
  }
}
.catalog-sections__heading--pro::after {
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../img/Index/icons/cat-pro.svg");
}
@media (min-width: 768px) {
  .catalog-sections__heading--pro::after {
    top: 135px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 112px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading--pro::after {
    top: 67px;
    left: 33px;
    right: auto;
    width: 134px;
    height: 56px;
  }
}
.catalog-sections__text {
  margin: 0;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog-sections__text {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__text {
    margin-bottom: 27px;
  }
}
@media (max-width: 767px) {
  .catalog-sections__text::after {
    content: "";
    display: block;
    position: static;
    width: 100%;
    height: 1px;
    margin-top: 22px;
    margin-bottom: 19px;
    background-color: #D9D9D9;
  }
}
.catalog-sections__link {
  display: grid;
  grid-template-columns: max-content 32px;
  align-items: center;
  gap: 17px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__link {
    gap: 25px;
    font-size: 20px;
    line-height: normal;
  }
}
.catalog-sections__link::after {
  content: "";
  width: 24px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-image: url("../img/Index/icons/arrow.svg");
}
.catalog-sections__link:hover::after {
  width: 32px;
}
.catalog-sections__link:active {
  opacity: 0.3;
}
.catalog-sections__link:active::after {
  width: 32px;
}

@media (max-width: 767px) {
  .process {
    padding: 20px 0 49px 0;
  }
}
@media (min-width: 768px) {
  .process {
    padding: 45px 0 47px 0;
  }
}
@media (min-width: 1300px) {
  .process {
    padding: 71px 0 26px 0;
  }
}
@media (max-width: 767px) {
  .process__heading {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 768px) {
  .process__heading {
    margin: 0 0 32px 0;
  }
}
.process__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
}
@media (max-width: 767px) {
  .process__list {
    row-gap: 20px;
  }
}
@media (min-width: 768px) {
  .process__list {
    grid-template-columns: 1fr 1fr;
    gap: 37px 0;
    padding: 0 79px 0 0;
    counter-reset: process;
  }
}
@media (min-width: 1300px) {
  .process__list {
    grid-template-columns: repeat(4, min-content);
    padding: 0;
  }
}
.process__item {
  position: relative;
  display: grid;
  color: #444444;
}
@media (max-width: 767px) {
  .process__item {
    grid-template-columns: 60px 1fr;
    column-gap: 20px;
  }
}
@media (min-width: 768px) {
  .process__item {
    padding: 40px 0 57px 0;
    gap: 31px;
    grid-template-rows: min-content min-content;
    font-size: 16px;
    line-height: 24px;
    counter-increment: process;
  }
}
.process__item::before {
  content: "";
  display: block;
  position: static;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .process__item::before {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 768px) {
  .process__item::after {
    position: absolute;
    content: counter(process);
    z-index: -1;
    top: 0;
    right: 0;
    color: #f2f2f2;
    font-size: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 280px;
  }
}
@media (min-width: 768px) {
  .process__item--healthful {
    width: 238px;
  }
}
@media (min-width: 1300px) {
  .process__item--healthful {
    margin-right: 88px;
  }
}
.process__item--healthful::before {
  background-image: url("../img/index/icons/leaf.svg");
}
@media (min-width: 768px) {
  .process__item--powder {
    width: 246px;
    margin-left: auto;
  }
}
@media (min-width: 1300px) {
  .process__item--powder {
    margin-right: 77px;
  }
}
.process__item--powder::before {
  background-image: url("../img/index/icons/powder.svg");
}
@media (min-width: 768px) {
  .process__item--meal {
    width: 247px;
  }
}
@media (min-width: 1300px) {
  .process__item--meal {
    margin-right: 75px;
  }
}
.process__item--meal::before {
  background-image: url("../img/index/icons/meal.svg");
}
@media (min-width: 768px) {
  .process__item--result {
    width: 245px;
    margin-left: auto;
  }
}
.process__item--result::before {
  background-image: url("../img/index/icons/result.svg");
}

@media (max-width: 767px) {
  .example {
    padding: 25px 0 40px 0;
    background-color: #eaeaea;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example {
    padding: 43px 0 58px 0;
    border-top: 1px solid #E6E6E6;
    background: linear-gradient(0deg, #eaeaea 42.7%, transparent 42.7%);
  }
}
@media (min-width: 1300px) {
  .example {
    padding: 0 0 70px 0;
    background: linear-gradient(0deg, #eaeaea 72.1%, transparent 72.1%);
  }
}
@media (min-width: 1300px) {
  .example__container {
    display: grid;
    grid-template-columns: 1fr 591px;
    gap: 80px;
  }
}
@media (max-width: 767px) {
  .example__left-part {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__left-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 80px 0;
  }
}
@media (min-width: 1300px) {
  .example__left-part {
    max-width: 436px;
  }
}
@media (max-width: 767px) {
  .example__heading {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 768px) {
  .example__heading {
    margin: 0 0 63px 0;
  }
}
@media (min-width: 1300px) {
  .example__heading {
    padding: 43px 0 0 0;
    margin: 0 0 146px 0;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__heading {
    grid-column: 1/3;
  }
}
.example__text {
  color: #444444;
}
@media (max-width: 767px) {
  .example__text {
    margin: 0 0 10px 0;
  }
}
@media (min-width: 768px) {
  .example__text {
    margin: 0 0 44px 0;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .example__text {
    margin: 0 0 59px 0;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__text {
    grid-column: 1/3;
  }
}
.example__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 767px) {
  .example__list {
    margin: 0 0 20px 0;
    gap: 0 32px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__list {
    grid-column: 1/2;
  }
}
@media (min-width: 768px) {
  .example__list {
    max-width: 366px;
    gap: 0 42px;
  }
}
@media (min-width: 1300px) {
  .example__list {
    margin: 0 0 55px 0;
  }
}
.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.example__title {
  z-index: 1;
  color: #444444;
  text-align: center;
}
@media (max-width: 767px) {
  .example__title {
    max-width: 81px;
    font-size: 12px;
    line-height: 100%;
    background-color: #eaeaea;
  }
}
@media (min-width: 768px) {
  .example__title {
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1300px) {
  .example__title {
    background-color: #eaeaea;
  }
}
.example__definition {
  position: relative;
  top: 10px;
  order: -2;
  margin: 0;
  padding: 12.5px 0 16.5px 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .example__definition {
    width: 124px;
    font-size: 24px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .example__definition {
    padding: 14.5px 0 19.5px 0;
    width: 162px;
    font-size: 30px;
    line-height: 37px;
  }
}
.example__spending {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__spending {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .example__spending {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 21px 0 0 0;
    margin-right: 2px;
  }
}
@media (min-width: 1300px) {
  .example__spending {
    text-align: left;
  }
}
.example__spending-text {
  margin: 0 0 9px 0;
}
@media (min-width: 1300px) {
  .example__spending-text {
    margin: 0 63px 0 0;
  }
}
.example__imgages {
  position: relative;
}
@media (max-width: 767px) {
  .example__imgages {
    margin: 0 0 13px 0;
  }
}
@media (min-width: 768px) {
  .example__imgages {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 0 58px;
    margin: 0 0 25px 0;
    overflow: hidden;
  }
}
@media (min-width: 1300px) {
  .example__imgages {
    padding: 0;
  }
}
.example__image {
  display: none;
}
@media (min-width: 768px) {
  .example__image {
    display: flex;
    overflow: hidden;
  }
  .example__image img {
    width: 594px;
    height: 511px;
    max-width: none;
  }
}
@media (min-width: 768px) {
  .example__image--after {
    justify-content: end;
  }
}
.example__image--active {
  display: block;
}

.contacts:not(.contacts--main) {
  background-color: #f2f2f2;
}
.contacts__container {
  position: relative;
}
.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 0 26px 0;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 60px 40px 62px 40px;
  }
}
@media (min-width: 1300px) {
  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 1;
    width: 565px;
    padding: 59px 75px 61px 80px;
    background-color: #ffffff;
  }
}
.contacts__heading {
  margin: 0;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__heading {
    max-width: 171px;
    font-size: 20px;
    line-height: 26px;
  }
}
.contacts__address {
  max-width: 160px;
  margin: 0;
  justify-self: flex-end;
  color: #444444;
  line-height: 20px;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .contacts__address {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
  }
}
.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
  }
}

.page-footer {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer__container {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    gap: 16px;
    padding: 46px 0 45px 0;
  }
}
@media (min-width: 1300px) {
  .page-footer__container {
    padding: 44px 0 43px 0;
  }
}

@media (min-width: 1300px) {
  .form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}
@media (min-width: 1300px) {
  .form__group--contacts, .form__group--comment, .form__group--additional {
    grid-column: 1/-1;
  }
}
@media (min-width: 768px) {
  .form__footer {
    display: grid;
    grid-template-columns: 282px 1fr;
    gap: 0 61px;
  }
}
@media (min-width: 1300px) {
  .form__footer {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 568px 1fr;
    gap: 0 81px;
  }
}
@media (min-width: 768px) {
  .form__additional {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .catalog-list__container {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }
}
@media (min-width: 1300px) {
  .catalog-list__container {
    grid-template-columns: repeat(4, 245px);
    gap: 62px 80px;
  }
}
@media (max-width: 767px) {
  .catalog-list__show-more-plus {
    margin: 0 0 23px 0;
  }
}
@media (max-width: 767px) {
  .catalog-list__show-more-heading {
    margin: 0 0 8px 0;
  }
}
@media (max-width: 767px) {
  .catalog-list__show-more-text {
    margin: 0 0 21px 0;
  }
}

@media (min-width: 1300px) {
  .catalog-additional__container {
    display: flex;
    justify-content: space-between;
  }
}
.catalog-additional__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 768px) {
  .catalog-additional__heading {
    font-size: 36px;
    line-height: 36px;
  }
}
.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.offer {
  background: #68b738 url("../img/catalog/background-gift.jpg") no-repeat center;
  background-blend-mode: overlay;
}
.offer__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.page-main {
  position: relative;
}
@media (max-width: 767px) {
  .page-main__header {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .page-main__header {
    margin-bottom: 0;
  }
}
@media (min-width: 1300px) {
  .page-main__header {
    margin-bottom: 82px;
  }
}
@media (max-width: 767px) {
  .page-main--catalog .page-main__header {
    margin-bottom: 41px;
  }
}
@media (min-width: 768px) {
  .page-main--catalog .page-main__header {
    padding-top: 64.3px;
    margin-bottom: 82px;
  }
}
@media (min-width: 1300px) {
  .page-main--catalog .page-main__header {
    padding-top: 74px;
    margin-bottom: 84px;
  }
}
@media (max-width: 767px) {
  .page-main--form .page-main__header {
    margin-bottom: 39px;
  }
}
@media (min-width: 768px) {
  .page-main--form .page-main__header {
    margin-bottom: 66px;
  }
}
@media (min-width: 1300px) {
  .page-main--form .page-main__header {
    padding-top: 73.5px;
  }
}
.page-main__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .page-main__heading {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (max-width: 767px) {
  .page-main--form .page-main__heading {
    margin-bottom: 37px;
  }
}
@media (min-width: 768px) {
  .page-main--form .page-main__heading {
    margin-bottom: 54px;
  }
}
@media (min-width: 1300px) {
  .page-main--form .page-main__heading {
    margin-bottom: 56px;
  }
}
.page-main__subheading {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-main__subheading {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .page-header {
    padding: 24px 0 0 0;
  }
}
@media (min-width: 1300px) {
  .page-header {
    padding: 53px 0 0 0;
  }
}
@media (max-width: 767px) {
  .page-header__nav:not(.page-header__nav--main) {
    border-bottom: 1px solid #E6E6E6;
  }
}
@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
  }
}
@media (min-width: 1300px) {
  .page-header__nav {
    width: 1220px;
    grid-template-columns: 202px 1fr;
  }
}
@media (min-width: 1300px) {
  .page-header__nav--main {
    display: grid;
    grid-template-columns: 202px 50%;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .page-header__bar {
    min-width: 320px;
    margin: 0 auto;
    padding: 12px 20px 15px;
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    align-items: center;
    gap: 16px;
  }
}
.page-header__logo {
  grid-column: 1/3;
}
.page-header__sign {
  justify-self: center;
}
@media (min-width: 768px) {
  .page-header__sign {
    display: none;
  }
}
.page-header__toggler {
  position: relative;
}
@media (max-width: 767px) {
  .page-header__toggler {
    width: 40px;
    height: 38px;
    margin-right: -2px;
    background-color: transparent;
    border: none;
  }
  .page-header__nav--closed .page-header__toggler::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 6px;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }
  .page-header__nav--opened .page-header__toggler::before, .page-header__nav--opened .page-header__toggler::after {
    content: "";
    display: block;
    position: absolute;
    right: 6px;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
  }
  .page-header__nav--opened .page-header__toggler::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .page-header__nav--opened .page-header__toggler::after {
    transform: rotate(-45deg);
  }
}
@media (min-width: 768px) {
  .page-header__toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .page-header__nav--closed .page-header__menu {
    display: none;
  }
  .page-header__nav--opened .page-header__menu {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    display: block;
  }
}
@media (min-width: 768px) {
  .page-header__menu {
    margin-right: -17px;
  }
}

.page {
  min-width: 320px;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
/*# sourceMappingURL=style.css.map */