.card {
  position: relative;
  display: grid;

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img link"
      "img list"
      "button button";
    padding: 19px 0 26px 0;
  }

  @media (min-width: $tablet-width) {
    grid-template-rows: 200px auto;
    grid-template-areas:
      "img"
      "link"
      "list"
      "button";
    padding: 8px 36px 39px;

    background-color: $color-gray-50;
    background-image: linear-gradient(to bottom, $color-white 81px, $color-gray-50 81px);
  }

  @media (min-width: $desktop-width) {
    padding: 8px 37px 39px 41px;
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      @include pseudo;
      top: 0;
      margin-left: calc(50% - 50vw);
      width: 100vw;
      height: 1px;
      background-color: $color-gray-100;
    }
  }

  &__link {
    grid-area: link;
    text-decoration: none;

    @media (max-width: $mobile-width-only) {
      align-self: start;
      max-width: 76px;
      margin: 0 0 14px 0;
    }

    @media (min-width: $tablet-width) {
      margin: 0 auto 15px;
      max-width: 159px;
      text-align: center;
    }
  }

  &__heading {
    margin: 0;

    color: $color-gray-850;

    font-family: $font-heading;
    font-weight: 400;
    text-transform: uppercase;

    @media (max-width: $mobile-width-only) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 35px;

      font-size: 20px;
      line-height: 24px;
    }
  }

  &__img-wrapper {
    grid-area: img;
    align-self: end;
    justify-self: center;
  }

  &__img {
    width: auto;
  }

  &__list {
    @include list;

    grid-area: list;
    display: grid;
    grid-template-columns: 1fr 1fr;

    color: $color-gray-700;

    @media (max-width: $mobile-width-only) {
      padding-bottom: 9px;
      font-size: 12px;
      line-height: 16px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 33px;

      font-size: 16px;
    }
  }

  &__title {
    margin: 0;
    padding-right: 4px;

    @media (min-width: $tablet-width) {
      padding-top: 5px;
      padding-bottom: 7px;

      border-bottom: 1px solid $color-gray-250;
    }
  }

  &__definition {
    padding-left: 4px;
    margin: 0;
    text-align: right;

    @media (min-width: $tablet-width) {
      padding-top: 5px;
      padding-bottom: 7px;

      border-bottom: 1px solid $color-gray-250;
    }
  }

  &__button {
    grid-area: button;

    @media (max-width: $mobile-width-only) {
      margin: 13px 0 0 0;
    }
  }
}
