.card-row {
  &__heading {
    color: $color-gray-850;

    font-family: $font-heading;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__definition {
    color: $color-gray-700;

    line-height: 14px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
