.control {
  color: $color-gray-850;

  font-family: $font-heading;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;

  &--checkbox {
    color: $color-black;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}
