.field-group {
  @include list;
  position: relative;

  border: none;

  @media (max-width: $mobile-width-only) {
    &--cat {
      padding: 0 0 23px;
    }

    &--target {
      padding: 0 0 19.4px;
    }

    &--cat,
    &--target {
      &::after {
        @include pseudo;
        bottom: 0;

        width: 100vw;
        margin-left: calc(50% - 50vw);
        height: 1px;
        background-color: $color-gray-200;
      }
    }
  }

  @media (min-width: $tablet-width) {
    &--target {
      padding: 25px 28px;

      border: 1px solid $color-gray-150;
    }
  }

  &__heading {
    position: relative;

    display: block;
    width: 100%;

    font-family: $font-heading;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;

    @media (max-width: $mobile-width-only) {
      .field-group--contacts & {
        margin-bottom: 35px;
      }

      .field-group--comment & {
        margin-bottom: 38px;
      }

      .field-group--additional & {
        margin-bottom: 34px;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;

      .field-group--contacts & {
        margin-bottom: 74px;
      }

      .field-group--comment & {
        margin-bottom: 76px;
      }

      .field-group--additional & {
        margin-bottom: 57px;
      }
    }

    span {
      display: block;
      padding: 0 22px;
      margin-left: -22px;
      width: min-content;

      background-color: $color-white;

      &::before {
        @include pseudo;
        top: 16px;
        left: 0;
        right: 0;
        z-index: -1;

        height: 2px;
        width: 100vw;
        margin-left: calc(50% - 50vw);

        background-color: $color-primary-500;
      }

      @media (min-width: $tablet-width) {
        display: inline;
        padding: 0 39px;
        margin-left: -42px;

        &::before {
          top: 21px;
        }
      }
    }
  }

  &__list {
    @include list;
    display: grid;
    gap: 12px 0;

    @media (min-width: $tablet-width) {
      gap: 20px 0;

      &--target {
        gap: 13px 0;
      }

      &--additional {
        grid-template-columns: 1fr 1fr;
        gap: 32px 53px;
        margin-bottom: 54px;
      }
    }

    @media (min-width: $desktop-width) {
      &--contacts {
        grid-template-columns: 1fr 1fr;
        gap: 0 78px;
      }

      &--additional {
        grid-template-columns: repeat(4, 1fr);
        gap: 32px 80px;
        margin-bottom: 59px;
      }
    }
  }
}
