.logo {
  &:not(.logo--footer) {
    @media (max-width: $mobile-width-only) {
      display: grid;
      grid-template-columns: 34px 1fr;
      align-items: center;
      gap: 16px;
    }
  }

  img:not(.logo__sign) {
    display: block;
  }

  &--footer {
    display: flex;
    align-items: center;

    @media (max-width: $mobile-width-only) {
      padding: 39px 0 32px 0;
      justify-content: center;
      border-bottom: 1px solid $color-gray-200;
    }

    @media (min-width: $tablet-width) {
      padding: 16px 0;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &__image {
    width: 33.3px;

    @media (min-width: $tablet-width) {
      width: 174px;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
    }
  }
}
