.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 25px 0 25px 0;

  &::before {
    @media (max-width: $mobile-width-only) {
      @include pseudo;
      top: 0;
      margin-left: calc(50% - 50vw);
      width: 100vw;
      height: 1px;
      background-color: $color-gray-100;
    }
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      @include pseudo;
      bottom: 0;
      margin-left: calc(50% - 50vw);
      width: 100vw;
      height: 1px;
      background-color: $color-gray-100;
    }
  }

  &__plus {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: $color-gray-200;
    }

    &::before {
      width: 2px;
      height: 100%;
    }

    &::after {
      width: 100%;
      height: 2px;
    }
  }

  &__heading {
    margin: 0;

    color: $color-gray-900;
    font-family: $font-heading;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;

    color: $color-gray-700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}
