.site-menu {
  @include list;

  font-family: $font-heading;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    background-color: $color-white;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;

    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: normal;
  }

  &__item {
    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $color-gray-150;
    }

    &:first-child {
      @media (max-width: $mobile-width-only) {
        border-top: 1px solid $color-gray-150;
      }
    }

    &--active {
      @media (min-width: $tablet-width) {
        text-decoration: underline;
        text-underline-offset: 14px;
        text-decoration-thickness: 2px;
        text-decoration-color: $color-primary-500;
        z-index: 5;
      }

      @media (min-width: $desktop-width) {
        text-underline-offset: 11px;
      }
    }

    .site-menu--main &--active {
      @media (min-width: $desktop-width) {
        text-decoration-color: $color-white;
      }
    }
  }

  &__link {
    display: block;

    color: $color-black;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
    }

    .site-menu__item--active &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }

    .site-menu__item--active &:active {
      opacity: 1;
    }

    @media (max-width: $mobile-width-only) {
      padding: 23px 22px 22px;
    }

    @media (min-width: $tablet-width) {
      padding: 17px 18px 10.7px 18px;
    }

    @media (min-width: $desktop-width) {
      padding: 17px 18px 12px 17px;

      .site-menu--main & {
        color: $color-white;
      }
    }
  }
}
