.site-menu {
  @include list;
  font-family: $font-heading;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: flex-end;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  &__item {
    display: flex;
    justify-content: center;

    @media (max-width: $mobile-width-only) {
      padding: 23px 0;
      border-bottom: 1px solid $color-gray-150;
    }

    &:first-child {
      @media (max-width: $mobile-width-only) {
        border-top: 1px solid $color-gray-150;
      }
    }

    &:nth-child(3) a {
      @media (min-width: $tablet-width) {
        padding: 17px 0 10.7px 17px;
      }
    }

    &--active {
      @media (min-width: $tablet-width) {
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-thickness: 2px;
        text-decoration-color: $color-primary-500;
        z-index: 5;
      }
    }

    &--active--white {
      @media (min-width: $desktop-width) {
        text-decoration-color: $color-white;
      }
    }
  }

  &__link {
    color: $color-black;
    text-decoration: none;

    @media (max-width: $mobile-width-only) {
      padding: 13px 35px;
    }

    @media (min-width: $tablet-width) {
      padding: 17px 17px 10.7px 17px;
    }
  }
}
