.social {
  @include list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 0;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $color-gray-200;
  }

  &__link {
    display: flex;
    align-items: center;
    min-height: 38px;

    @media (max-width: $mobile-width-only) {
      padding: 0 17.5px;
    }

    @media (min-width: $tablet-width) {
      padding: 0 12px;
    }
  }

  &__icon {
    color: $color-gray-600;

    &:hover {
      color: $color-primary-500;
    }

    &:active {
      color: $color-primary-500;
      opacity: 0.3;
    }

    &--vk {
      @media (min-width: $tablet-width) {
        width: 30px;
        height: 22px;
      }
    }

    &--instagram {
      @media (min-width: $tablet-width) {
        width: 23px;
        height: 23px;
      }
    }

    &--facebook {
      @media (min-width: $tablet-width) {
        width: 28px;
        height: 33px;
      }
    }
  }
}
